<div class="boxHeader">
<mat-card class="boxChild">
    <div  class="sectionSearch">
        <mat-form-field>
            <mat-label>Buscador</mat-label>
            <input matInput type="text" #inputvalue>
            <button *ngIf="value"  matSuffix mat-icon-button aria-label="Buscador" (click)="borrar(inputvalue)">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button (click)="buscar(inputvalue)" color="primary">Buscar</button>
    </div>
    <div class="sectionData">
        <table ngClass="tableData" mat-table [dataSource]="dataSource "  class="mat-elevation-z8">

            
            <ng-container matColumnDef="signo">
            <th mat-header-cell *matHeaderCellDef> Signos Zodiacales </th>      
            <td mat-cell *matCellDef="let element" > {{element.signo_zodiacal}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr  class="mat-row" *matNoDataRow>
                <td *ngIf="isBlank==false" class="mat-cell" colspan="4">Inicie su busqueda</td>
                <td *ngIf="isBlank" class="mat-cell" colspan="4">No existe coincidencias "{{inputvalue.value}}"</td>
            </tr>
           
        </table> 
        
    </div>
</mat-card>
</div>

  



